.avatar {
  .parsec-upload-list-item-name {
    display: none;
  }
}

.parsec-image .parsec-image-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  vertical-align: middle;
}

.image-wrap {
  position: relative;
  min-width: 120px !important;
  padding-top: 100%;

  .parsec-image {
    position: absolute;
    top: 0;
    left: 0;
    // object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-width: 120px !important;
    height: 100%;
    min-height: 120px !important;
    object-fit: fill;
  }
}
