<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/aika.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.umaylab.aisa</string>
		<key>CFBundleShortVersionString</key>
		<string>1.4.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: su hu (94Z9Z4L76C)</string>
		<key>Team</key>
		<string>R83LCB5J36</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-01-12T03:37:18Z</date>
	<key>Name</key>
	<string>aika</string>
	<key>SchemeName</key>
	<string>aika</string>
</dict>
</plist>
