.wrap {
  .parsec-pro-card-col {
    padding-inline: 0 !important;
  }
}

.procard-down {
  position: relative;

  .date-picker-wrap {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 999;
  }
}
