<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600258585781-5d2slqlpdhtrhiro3vt48mml5uo2rt2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600258585781-5d2slqlpdhtrhiro3vt48mml5uo2rt2c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>600258585781-9979h46nl434je45pfo9pb4hk3sr9e1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoowyb06ieAwH-ZtvQYciAcHwqSbU6uJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>600258585781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umaylab.aisa</string>
	<key>PROJECT_ID</key>
	<string>aika-382ef</string>
	<key>STORAGE_BUCKET</key>
	<string>aika-382ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600258585781:ios:d9952e3c01d70a9c064afc</string>
</dict>
</plist>